.swiper-pagination-bullet-active {
  background: #000;
  opacity: 0.7;
  border: 1px #000 solid;
}
.index {
  .container {
    background: $colorJ;
    // 设置轮播里所有内容
    .swiper-container {
      img {
        @include setsize(100%, 460px);
      }
      .swiper-button-prev,
      .swiper-button-next {
        color: #a8b2c4;
        @include setsize(40px, 70px);
        &:hover {
          background: #000;
          @include setsize(40px, 70px);
          opacity: 0.4;
          border-radius: 10px;
        }
      }
      .swiper-pagination {
        text-align: right;
      }
      .swiper-button-prev {
        margin-left: 234px;
      }
    }
    // 设置轮播菜单内容
    .nav_wrap {
      position: absolute;
      z-index: 8;
      padding-bottom: 16px;
      padding-top: 16px;
      background: #000000b8;
      box-sizing: border-box;
      @include setsize(234px, 460px);
      .nav_list {
        @include setsize(100%, 42px);
        line-height: 42px;
        padding-left: 30px;
        box-sizing: border-box;
        font-size: 15px;
        a {
          display: block;
          position: relative;
          color: $colorG;
          &::after {
            content: "";
            @include setimg("/imgs/icon-arrow.png");
            position: absolute;
            @include setsize(14px, 14px);
            display: inline-block;
            width: 10px;
            height: 15px;
            top: 13px;
            right: 20px;
          }
        }
        &:hover {
          background: $colorA;
          .children {
            display: block;
          }
        }
        .children {
          display: none;
          width: 992px;
          height: 460px;
          background: $colorG;
          position: absolute;
          top: 0;
          left: 234px;
          border: 1px solid $colorH;
          ul {
            z-index: 10;
            display: flex;
            justify-content: space-around;
            height: 75px;
            li {
              height: 75px;
              line-height: 75px;
              flex: 1;
              padding-left: 23px;
            }
            a {
              color: $colorB;
              font-size: 14px;
              margin-left: 10px;
              &:hover {
                color: $colorA;
              }
            }
            img {
              vertical-align: middle;
              width: 42px;
              height: 35px;
            }
          }
        }
      }
    }
    // 广告位
    .adv_b {
      margin-top: 15px;
      display: flex;
      justify-content: space-between;
      a {
        display: inline-block;
        img {
          width: 295px;
          height: 170px;
        }
      }
    }
  }
  // 首页商品展示
  .product_box {
    margin-top: 25px;
    background-color: #f5f5f5;
    .box_container {
      width: 1226px;
      margin-right: auto;
      margin-left: auto;
      padding-top: 20px;
      .products_list {
        // 首页商品展示布局
        .products_item {
          .products_item_bannerimg {
            width: 100%;
            height: 120px;
            margin-top: 10px;
          }
          .products_item_title {
            font-size: 25px;
            margin-top: 30px;
            margin-bottom: 17px;
          }
          .products_content {
            display: flex;
            justify-content: space-between;
            height: 614px;
            .products_content_left {
              img {
                @include setsize(234px, 602px);
              }
            }
            .products_content_right {
              display: flex;
              justify-content: space-between;
              flex-wrap: wrap;
              align-items: stretch;
              .products_content_right_item {
                transition: all 0.5s; /*动画过渡*/
                @include setsize(234px, 295px);
                text-align: center;
                background: #ffffff;
                // 要删
                margin-left: 10px;
                .products_content_right_item_span_base {
                  visibility: hidden;
                  display: block;
                  @include setsize(67px, 24px);
                  background: #ff6600a1;
                  margin: 0 auto;
                  line-height: 24px;
                  color: #ffffff;
                  border-bottom-left-radius: 5px;
                  border-bottom-right-radius: 5px;
                }
                .products_content_right_item_span {
                  visibility: visible;
                  display: block;
                  @include setsize(67px, 24px);
                  background: #ff6600a1;
                  margin: 0 auto;
                  line-height: 24px;
                  color: #ffffff;
                  border-bottom-left-radius: 5px;
                  border-bottom-right-radius: 5px;
                }
                .products_content_right_item_img {
                  margin: 10px;
                  @include setsize(150px, 150px);
                }
                .products_content_right_item_name {
                  font-size: 15px;
                  color: #000;
                  margin-top: 10px;
                }
                .products_content_right_item_introduce {
                  font-size: 12px;
                  color: $colorE;
                  margin-top: 5px;
                }
                .products_content_right_item_price {
                  margin-top: 10px;
                  line-height: 14px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  a {
                    height: 30px;
                    line-height: 30px;
                    color: $colorA;
                    font-size: 15px;
                  }
                  .products_content_right_item_price_img {
                    cursor: pointer;
                    display: inline-block;
                    width: 30px;
                    height: 20px;
                    margin-left: 10px;
                    background: url("/imgs/icon-cart.png") no-repeat center;
                    background-size: 20px;
                  }
                }
                // 设置单个item的hover效果
                &:hover {
                  position: relative; /*改成相对定位*/
                  top: -3px; /*向上挪动5px*/
                  transition: all 0.5s; /*动画过渡*/
                  -moz-box-shadow: 1px 2px 18px #cccccc;
                  -webkit-box-shadow: 1px 2px 18px #cccccc;
                  box-shadow: 1px 2px 18px #cccccc;
                  .products_content_right_item_price_img {
                    background: url("/imgs/icon-cart-hover.png") no-repeat
                      center;
                    background-size: 20px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}